@font-face {
  font-family: simpsons;
  src: url("../font/simpson.otf") format("opentype");
}

body {
  background-color: #ffd90f;
  background-image: url(../img/Springfield_panoramic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#logo {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#homer {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#welcome_logo {
  position: absolute;
  top: 32%;
  left: 9%;
  margin-left: auto;
  margin-right: auto;
  width: 31%;
  height: auto;
}

#donut {
  top: 70%;
  left: 61%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  height: auto;
}

#sign {
  bottom: -57px;
  left: 10%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}

#sign_cropped {
  bottom: 245px;
  left: 10%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}

#sign_cropped:hover {
  transform: scale(1.2);
}

p,
button {
  font-family: simpsons;
}

button {
  top: 500px;
  width: 600px;
}

h1 {
  font-family: donut;
  font-size: 60px;
  color: white;
}

.rotate {
  animation: rotation 30s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
